<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SteamQuickSwitch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SteamAccountManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <SteamQuickSwitch.Properties.Settings>
            <setting name="CloseAfterAccountChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProcessExceptionsList" serializeAs="String">
                <value/>
            </setting>
            <setting name="StartingPosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartingPosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomStartingPositions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnimateStartingPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnimatePosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnimatePosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnimationSpeed" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ColorScheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SteamPath" serializeAs="String">
                <value>C:\Program Files (x86)\Steam</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrevVersion" serializeAs="String">
                <value/>
            </setting>
        </SteamQuickSwitch.Properties.Settings>
    </userSettings>
</configuration>
